*{
padding: 0;
margin: 0;
}
.space{
    padding-left: 5%;
    align-items: center;
}
.underline::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .2s;
}
.social-icon{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 30px;
    color: #33adff;
    transition: all .2s;

}
.social-icon:hover{
     background: #1aa3ff;
     padding: 5px;
     border-radius: 5px;
     color: #fff;
}
.service-card{
    transition: all .3s;
}
 .service-card:hover{
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    padding: 2%;
 }
.underline:hover::after{
    transform: scale(1,1);
}

.box-effect{
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
}
.center-text{
    text-align: center;      
}
@media (max-width: 978px) {
    #carousel-img{
        height: 200px;
    }
    .box-effect{
        margin-bottom: 10px ;
    }
}