*{
padding: 0;
margin: 0;
}
.space{
    padding-left: 5%;
    align-items: center;
}
.underline::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .2s;
}
.social-icon{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 30px;
     color: #b3b3b3;/*#33adff; */
    transition: all .2s;

}
.social-icon:hover{
     background: #999999;
     padding: 5px;
     border-radius: 5px;
     color: #fff;
}
.service-card{
    transition: all .3s;
}
 .service-card:hover{
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.75);
    padding: 2%;
 }
.underline:hover::after{
    transform: scale(1,1);
}

.box-effect{
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
}
.center-text{
    text-align: center;      
}
@media (max-width: 978px) {
    #carousel-img{
        height: 200px;
    }
    .box-effect{
        margin-bottom: 10px ;
    }
}

@media (max-width:500px){
    .teams-photo-container{
        display: flex;
        min-width: 200px;
        max-width: 320px;
        margin: auto;
    
    }
    .teams-photo-subcontainer{
        padding: 0px;
        padding-left: 0px;
    }
    .teams-img{
        height: auto;
        width: 100%;
        margin: auto;
        padding-right: 3%;
        padding-top: 0.2%;
    }
}

.carousel-caption-title{
    font-family: inherit;
    color: #fff;
    font-weight: 100;
    -webkit-font-smoothing: antialiased!important;

}
.text-transparent{
    background: black;
    opacity: 60%;
    
}
.whatsapp{
    position: fixed;
    right: 25px;
    bottom: 100px;
    height: 60px;
    width: 60px;
    z-index: 1000;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    
}
.whatsapp img{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    border-radius: 50%;
    color: white;
}